archive/
M2PCASL_CBF_HIRES/
M2PCASL_CBF_HIRES_NONE/
M2PCASL_CBF_HIRES_FWHM3/
M2PCASL_CBF_HIRES_FWHM5/
M2PCASL_CBF_LOWRES/
M2PCASL_CBF_LOWRES_NONE/
M2PCASL_CBF_LOWRES_FWHM3/
M2PCASL_CBF_LOWRES_FWHM5/
CVRinAD_as_matched/
CVRinAD_NONE/

CVRTRT8P_subjects.txt
CVRTRT8P_CVR_subjects.txt
plotQC_input.txt
plotQC_input2.txt
plotQC_motion_input.txt
README.txt
temp.sh

